body{
    padding-bottom: 5px;
    padding-top: 5px;
}
a{
    margin-left: 2px;
    margin-right: 2px;
}
leftborder{
    border-right-width: 1px;
}
div{
    padding-left: 5px;

    padding-top: 5px;
    padding-bottom: 5px;


}
.color1{

}
